<img class="game-name loading" src="/app/+game/assets/enterprise-splash-platform.svg" *ngIf="currentState === 'title'" (load)="nameLoaded($event)">
<ul class="game-score" [ngClass]="gameService.playerTeam.class" *ngIf="currentState === 'start-game' || currentState === 'play' || currentState === 'pause'">
  <li>Build <span>Canary</span></li>
  <li>
    <span>
      <!-- <strong>1st place</strong> -->
      {{gameService.playerTeam.name}} Team
    </span>
    {{gameService.teamScore}}
  </li>
  <li><span>{{gameService.playerUsername}} (You)</span>{{gameService.playerScore}}</li>
</ul>
<div class="game-over" *ngIf="currentState === 'game-over'">
  <div class="game-over-container">
    <h1>Game Over</h1>
    <p>
      <strong>{{gameService.playerFinalScore}}</strong> points |
      <strong>353th</strong> place
    </p>
    <p>
      <i class="material-icons">face</i>
      <i class="material-icons">face</i>
      <i class="material-icons">face</i>
    </p>
  </div>
</div>
<div id="game" class="game" [ngClass]="configuration.background"></div>
<app-achievement></app-achievement>
