<img class="game-name loading" src="/app/+game/assets/enterprise-splash-platform.svg" *ngIf="currentState === 'title'" (load)="nameLoaded($event)">
<ul class="game-score team-teal build-canary" *ngIf="currentState === 'play' || currentState === 'pause'">
  <li>Build <span>Canary</span></li>
  <li>
    <span>
      <strong>1st place</strong>
      Teal Team
    </span>
    {{teamScore}}
  </li>
  <li><span>{{username}} (You)</span>{{score}}</li>
</ul>
<div class="game-over" *ngIf="currentState === 'game-over'">
  <div class="game-over-container">
    <h1>Game Over</h1>
    <p>
      <strong>{{score}}</strong> points |
      <strong>353th</strong> place
    </p>
    <p>
      <i class="material-icons">face</i>
      <i class="material-icons">face</i>
      <i class="material-icons">face</i>
    </p>
  </div>
</div>
<div id="game" class="game" [ngClass]="background"></div><!-- .blue .green or .canary -->
<app-achievement [achievements]="achievements"></app-achievement>
