<img class="game-name loading" src="/app/+game/assets/enterprise-splash-platform.svg" *ngIf="currentState === 'title'" (load)="nameLoaded($event)">
<ul class="game-score" [ngClass]="gameService.playerTeam.class" *ngIf="currentState === 'start-game' || currentState === 'play' || currentState === 'pause'">
  <li>Build <span>Canary</span></li>
  <li>
    <span>
      {{gameService.playerTeam.name}} Team
    </span>
    {{gameService.teamScore}}
  </li>
  <li><span>{{gameService.playerUsername}} (You)</span>{{gameService.playerScore}}</li>
</ul>
<div class="game-over" *ngIf="currentState === 'game-over'">
  <div class="game-over-container">
    <h1>Game Over</h1>
    <p>
      <strong>{{gameService.playerUsername}}</strong> |
      <strong>{{gameService.playerFinalScore}}</strong> points
    </p>
    <ul class="achievement leaderboard-achievement">
      <li *ngFor="let achievement of gameService.achievements; let i = index">
        <i class="material-icons">{{gameService.achievementIcons[i]}}</i>
        <div class="legend">
          {{achievement.desc}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="game" class="game" [ngClass]="configuration.background"></div>
<app-achievement></app-achievement>
