$animation-duration: 0.35s;

.game-name {
  position: absolute;
  max-width: 300px;
  top: calc(35% - 115px);
  left: calc(50% - 150px);

  &.loading {
    opacity: 0;
  }

  &.loaded {
    -webkit-animation-name: bouncy;
    animation-name: bouncy;
    -webkit-animation-duration: $animation-duration;
    animation-duration: $animation-duration;
  }
}

@keyframes bouncy {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0 ;
  }

  50% {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
