
<div class="leaderboard">

<h3>Your Achievements</h3>

<ul class="achievement leaderboard-achievement">
  <li *ngFor="let achievement of gameService.achievements; let i = index">
    <i class="material-icons">{{achievementIcons[i]}}</i>
    <div class="legend">
      {{achievement.desc}}
    </div>
  </li>
</ul>

<div class="no-achievements" *ngIf="!gameService.achievements.length">
  No achievements yet!
</div>

<h3>Leaderboard</h3>
<!--
<ol>
  <li *ngFor="let score of topScores">
    {{score.name}} - {{score.points}}
  </li>
</ol>
-->

<ol>
  <li>
    <div class="leaderboard-position">
      1<sup>st</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Mercury Slice
      </div>
      <div class="leaderboard-points">
        2729 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li>
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li>
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      2<sup>nd</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Platinum Serrano
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li>
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      3<sup>rd</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Brass Cannon
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li class="off">
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      4<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Zinc Purple
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li>
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      5<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Viper Companion
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li class="off">
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li class="off">
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li>
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      6<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Rattlesnake Argyle
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li>
        <i class="material-icons">local_play</i>
      </li>
      <li class="off">
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      7<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Teg Dyne
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li class="off">
        <i class="material-icons">local_play</i>
      </li>
      <li>
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      8<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Grilse Rod
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li class="off">
        <i class="material-icons">local_play</i>
      </li>
      <li class="off">
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>


  <li>
    <div class="leaderboard-position">
      9<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Chuckwalla Thirdendeal
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li>
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li class="off">
        <i class="material-icons">local_play</i>
      </li>
      <li class="off">
        <i class="material-icons">whatshot</i>
      </li>
      <li>
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>

  <li>
    <div class="leaderboard-position">
      10<sup>th</sup>
    </div>
    <div class="leaderboard-details">
      <div class="leaderboard-name">
        Yelt Photon
      </div>
      <div class="leaderboard-points">
        1929 <small>points</small>
      </div>
    </div>
    <ul class="leaderboard-achievement">
      <li class="off">
        <i class="material-icons">sentiment_very_satisfied</i>
      </li>
      <li>
        <i class="material-icons">local_play</i>
      </li>
      <li class="off">
        <i class="material-icons">whatshot</i>
      </li>
      <li class="off">
        <i class="material-icons">local_pizza</i>
      </li>
    </ul>
  </li>

</ol>


</div>
