<div class="admin" *ngIf="ws.readyState === 1">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Player ID Admin</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="states">
        <button class="mdl-button mdl-js-button mdl-button--raised" *ngFor="let state of selfieStates" (click)="changeSelfieState(state)" [class.mdl-button--accent]="state.name === currentSelfieState">
          {{state.display}}
        </button>
      </div>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Game Admin</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="states">
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="changeState('title')" [class.mdl-button--accent]="currentGameState.name === 'title'">Title</button>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="changeState('demo')" [class.mdl-button--accent]="currentGameState.name === 'demo'">Demo</button>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="changeState('start-game')" [class.mdl-button--accent]="currentGameState.name === 'play'" [disabled]="currentGameState.name === 'play' && isPlaying">Start Game</button>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="changeState('pause')" [class.mdl-button--accent]="currentGameState.name === 'pause' || currentGameState.name === 'play'">
          <i class="material-icons" *ngIf="currentGameState.name !== 'pause'">pause</i>
          <i class="material-icons" *ngIf="currentGameState.name === 'pause'">play_arrow</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="changeState('game-over')" [class.mdl-button--accent]="currentGameState.name === 'game-over'">Game Over</button>
      </div>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" *ngIf="configuration">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Game Configuration</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-card__supporting-text">
        <div>
          <h6>Opacity - {{configuration.opacity}}</h6>
          <div>
            <input class="mdl-slider mdl-js-slider" type="range" min="1" max="85" [attr.value]="configuration.opacity" tabindex="0" (change)="updateOpacity($event)">
          </div>
        </div>
        <div>
          <h6>Size - {{configuration.scale}}</h6>
          <div>
            <input class="mdl-slider mdl-js-slider" type="range" min="0.1" max="1" step="0.1" [attr.value]="configuration.scale" tabindex="0" (change)="updateScale($event)">
          </div>
        </div>
        <div>
          <h6>Speed - {{configuration.speed}}</h6>
          <div>
            <input class="mdl-slider mdl-js-slider" type="range" min="1" max="100" [attr.value]="configuration.speed" tabindex="0" (change)="updateSpeed($event)">
          </div>
        </div>
        <div>
          <h6>Points</h6>
          <div>
            <div>
              Red:
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="number" min="0" [ngModel]="configuration.points.red" (ngModelChange)="configuration.points.red = $event" (change)="updatePoints()">
              </div>
            </div>
            <div>
              Blue:
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="number" min="0" [ngModel]="configuration.points.blue" (ngModelChange)="configuration.points.blue = $event" (change)="updatePoints()">
              </div>
            </div>
            <div>
              Green:
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="number" min="0" [ngModel]="configuration.points.green" (ngModelChange)="configuration.points.green = $event" (change)="updatePoints()">
              </div>
            </div>
            <div>
              Yellow:
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="number" min="0" [ngModel]="configuration.points.yellow" (ngModelChange)="configuration.points.yellow = $event" (change)="updatePoints()">
              </div>
            </div>
            <div>
              Golden Snitch:
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="number" min="0" [ngModel]="configuration.points.goldenSnitch" (ngModelChange)="configuration.points.goldenSnitch = $event" (change)="updatePoints()">
              </div>
            </div>
          </div>
        </div>
        <div>
          <h6>Golden Snitch</h6>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" [ngModel]="configuration.goldenSnitch" (change)="updateGoldenSnitch($event)">
            <span class="mdl-switch__label"></span>
          </label>
        </div>
        <div>
          <h6>Background</h6>
          <div>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="default" [ngModel]="{checked: configuration.background === 'default'}" (change)="updateBackground($event)">
              <span class="mdl-radio__label">Default</span>
            </label>
          </div>
          <div>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="blue" [ngModel]="{checked: configuration.background === 'blue'}" (change)="updateBackground($event)">
              <span class="mdl-radio__label">Blue</span>
            </label>
          </div>
          <div>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
              <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="green" [ngModel]="{checked: configuration.background === 'green'}" (change)="updateBackground($event)">
              <span class="mdl-radio__label">Green</span>
            </label>
          </div>
          <div>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
              <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="canary" [ngModel]="{checked: configuration.background === 'canary'}" (change)="updateBackground($event)">
              <span class="mdl-radio__label">Canary</span>
            </label>
          </div>
        </div>
        <div>
          <h6>Traffic Percentage</h6>
          <div>
            Total:
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="number" min="0" max="100" [ngModel]="configuration.trafficPercentage" (ngModelChange)="configuration.trafficPercentage = $event">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-card__supporting-text">
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="publishConfigurationChange()">Update Game Configuration</button>
      </div>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Demo Options</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-card__supporting-text">
        <h6>Demo Device</h6>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-demo">
          <input type="checkbox" id="switch-demo" class="mdl-switch__input" [ngModel]="gameService.demoDevice" (change)="updateDemo($event)">
          <span class="mdl-switch__label"></span>
        </label>
        <h6>Connect to Canary</h6>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-canary">
          <input type="checkbox" id="switch-canary" class="mdl-switch__input" [ngModel]="gameService.canary" (change)="updateCanary($event)">
          <span class="mdl-switch__label"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Clear Local Storage</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-card__supporting-text">
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="clearLocalStorage()">Clear Local Storage</button>
      </div>
    </div>
  </div>

</div>

<div class="admin" *ngIf="ws.readyState !== 1">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Error</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Not connected to Vert.x socket.</p>
      <p>Attempting to reconnect...</p>
    </div>
  </div>
</div>

<div id="toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
