<div class="admin">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Selfie Admin</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="states">
        <button class="mdl-button mdl-js-button mdl-button--raised" *ngFor="let state of selfieStates" (click)="changeSelfieState(state)" [class.mdl-button--accent]="state.name === currentSelfieState">
          {{state.display}}
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Game Admin</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="states">
        <button class="mdl-button mdl-js-button mdl-button--raised" *ngFor="let state of gameStates" (click)="changeState(state)" [class.mdl-button--accent]="state.name === currentGameState">
          {{state.display}}
        </button>
      </div>
    </div>
  </div>
</div>
